body {
  background-image: url("/img/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#796d6d;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("/img/fondo-cel.jpg");
  }
	}